// media queries
@mixin media($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 767px) {
			@content;
		}
	}
	@if $breakpoint == tablet {
		@media only screen and (min-width: 768px) {
			@content;
		}
	}
	@if $breakpoint == desktop {
		@media only screen and (min-width: 1024px) {
			@content;
		}
	}
	@if $breakpoint == max-content-width {
		@media only screen and (min-width: $max-content-width) {
			@content;
		}
	}
}

//Flex
@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin ax-link($font-size: $font-size-base, $color: $white) {
  position: relative;
  border: none;
  padding: 3px 0;
  transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
  font-size: $font-size;
  line-height: 1;
  text-decoration: none;
  color: $color;
  cursor: pointer;
  width: fit-content;

  &:hover {
    &::before {
      left: 0;
      right: 0;
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    display: block;
    border-bottom: 1px solid $color;
    opacity: 1;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    z-index: 2;
  }
}