@import '../helpers/helpers';

.badge {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: $font-size-base;
  font-weight: $weight-medium;
  color: $green;
  background-color: $light-green;
  border-radius: 2px;
  padding: .7rem 1rem;
  width: fit-content;
}