@import '../helpers/helpers';

// Fonctionnement
.fonctionnement__step {
  display: flex;
  align-items: center;
  padding: 2.8rem 3.5rem;
  border-radius: 20px;
  gap: 2.5rem;
  position: relative;
  margin-left: 0.8rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: $gray;

  @include media(desktop) {
    max-width: unset;
    width: 33rem;
  }

  &::before {
    color: $white;
    counter-increment: fonctionnement-counter;
    content: "" counter(fonctionnement-counter);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-base;

    left: -0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: $purple;
  }

  &:hover {
    background-color: $purple-light;

    .fonctionnement__step-icon {
      color: $purple;
    }
  }

  .fonctionnement__step-icon {
    color: $gray-dark;
    transition: $transition-base;
    font-size: $font-size-extra-large;
  }

  .fonctionnement__step-text {
    font-weight: bold;

    @include media(desktop) {
      min-width: max-content;
    }
  }
}

// Plats
.meal__card {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);

  @include media(tablet) {
    width: calc((100% - 20px) / 2);
  }

  @include media(desktop) {
    width: calc((100% - 40px) / 3);
  }

  .meal__card-content {
    @include flex(space-between, end);
    padding: 1.1rem 1.8rem;

    .meal__card-content_text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .meal__card-content_title {
        font-size: $font-size-super-large;
        font-weight: $weight-medium;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .meal__card-content_description {
        font-size: 1.5rem;
        font-weight: $weight-light;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .meal__card-price {
      font-weight: bold;
      transition: $transition-base;
    }
  }

  .meal__card-check {
    @include flex(center, center);
    background-color: $light-green;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: $transition-base;
    z-index: 1;
    width: 0;

    .meal__card-check_btn {
      font-size: 2rem;
      color: $white;
      transition: all 0.1s ease-in-out 0.1s;
      visibility: hidden;
    }
  }

  &:hover {
    .meal__card-price {
      margin-right: 70px;
    }

    .meal__card-check {
      width: 70px;
    }

    .meal__card-check_btn {
      visibility: visible;
    }
  }

  &:active {
    .meal__card-check_btn {
      color: $green;
    }
  }
}