@import '../helpers/helpers';

.footer {
  background-color: $footer-bg;
  color: $white;
  padding: 2.2rem 2.5rem;
  max-width: $max-content-width;
  margin: auto auto 0;
  width: 100%;

  @include media(tablet) {
    padding: 2rem 3rem;
  }

  @include media(desktop) {
    padding: 2rem 4rem 4rem;
  }

  @include media(max-content-width) {
    border-radius: 15px 15px 0 0;
  }

  .company {
    font-size: 1.8rem;
    font-weight: unset;
    margin-bottom: 1.8rem;

    @include media(tablet) {
      font-size: 1.5rem;
    }

    @include media(desktop) {
      font-size: 2.3rem;
    }
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    @include media(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include media(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__link {
      transition: $transition-base;
      display: flex;
      gap: 1rem;
      @include ax-link(1.6rem, $white);
    }
  }
}