@import '../helpers/helpers';

.footer {
  background-color: $footer-bg;
  color: $white;
  padding: 2.2rem 2.5rem;
  max-width: $max-content-width;
  margin: auto auto 0;
  width: 100%;

  @include media(tablet) {
    padding: 2rem 3rem;
  }

  @include media(desktop) {
    padding: 4rem 6.5rem 3rem;
    gap: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .company {
    font-size: $font-size-super-large;
    font-weight: unset;
    margin-bottom: 1.8rem;

    @include media(desktop) {
      order: 2;
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    @include media(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include media(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__link {
      transition: $transition-base;
      display: flex;
      gap: 1rem;
      @include ax-link(1.6rem, $white);
    }
  }
}