@import '../helpers/helpers';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-base;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

a, p {
  font-size: $font-size-large;
  font-weight: $weight-medium;
}

h2 {
  font-size: $font-size-h2-mobile;
  font-weight: $weight-bold;
}

ul,
li {
  list-style: none;
}

h1, .h1-style {
  font-family: $font-title;
}

main {
  max-width: $max-content-width;
  margin: 0 auto;
  width: 100%;
}